.register-form__group.hidden-above-tablet {
  display: none;
}

.register-form__group.show-above-tablet {
  display: block;
}

.register-form__make-pass {
  width: 50%;
  padding: 19px 0px;
}

/* responsive */
@media (max-width: 64rem) {
  .hidden-low-tablet {
    display: none;
  }

  .show-low-tablet {
    display: block;
  }

  .register-form__group {
    display: unset;
  }

  .rg-form-control {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 48rem) and (max-width: 64em) {
  .content-full {
    width: 768px;
  }
  .content-full {
    padding: 0 30px;
  }

  .register-form {
    width: calc(100% - 60px);
  }
  /* register-form__group */
}

@media (max-width: 46rem) {
  .content-full {
    width: 414;
  }

  .content-full {
    padding: 0 15px;
  }

  .register-form {
    width: calc(100% - 30px);
  }

  .register-form__register {
    width: 100%;
  }

  .register-form__fb-gg {
    justify-content: space-between;
  }

  .register-form__control {
    flex: 1;
  }
}
